.box {
  position: relative;
  width: 100%;
  height: 100%;
}

.first-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: grey;
}

.second-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  &-horizontal {
    width: 50%;
    height: 100%;
  }

  &-vertical {
    width: 100%;
    height: 50%;
  }
}

.first-slot {
  width: 100%;
  height: 100%;
}

.handler-container {
  position: absolute;
  background-color: black;
  cursor: pointer;
  &-horizontal {
    top: 0;
    left: 50%;
    height: calc(100% + 20px);
  }

  &-vertical {
    top: 50%;
    left: 0;
    width: calc(100% + 20px);
  }
}

.handler {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: blue;
  &-horizontal {
    bottom: -10px;
    left: 50%;
    width: 30px;
    height: 20px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  &-vertical {
    top: 50%;
    right: -10px;
    width: 20px;
    height: 30px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
  }
}
